@{
    ViewBag.Title = "Home Page";
}

    <form method="POST">
        <label for="firstName">Your first name</label>
        <input type="text" id="firstName" placeholder="Your name goes here"  name="firstName"/>
        <input type="submit" />
    </form>