@model GreyCon.Models.DisksInputViewModel
@using (Html.BeginForm("Create", "DisksInput", FormMethod.Post))

{
    @Html.TextBoxFor(s => s.UsedMbs," ")
    @Html.TextBoxFor(s => s.TotalMbs," ")
    <input type="submit" name="Submit" value="Save" />

}

<h2>DisksEntry</h2>
